@model IEnumerable<Project99.Models.Class.Loan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.accountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.accountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
            <td>
                <a asp-action="Deposit" asp-route-id="@item.accountNumber">Deposit</a> |
                <a asp-action="Withdraw" asp-route-id="@item.accountNumber">Withdraw</a> |
                <a asp-action="Transfer" asp-route-id="@item.accountNumber">Transfer</a> |
                <a asp-action="Transaction" asp-route-id="@item.accountNumber">Satement</a> |
                <a asp-action="Delete" asp-route-id="@item.accountNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
